@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    /* margin: 0 !important;
    padding: 0 !important; */
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
input:focus,
input:active,
input:hover{
    border: 1px solid grey;
    outline: none;
    box-shadow: none !important;
}

/* ===========Navbar============== */

.navbar{
    background: #ffffff;
    box-shadow: 0 0 8px #b1aaaa;
}
#logo, .logo{
    font-weight: 600;margin-left: 8px; 
    font-size: 20px; 
    color: #5732ff;
    transition: all 0.4s;
}
#logo:hover{
color: #550d08 !important;
}
.navbar a{
    color: #000000 !important;
    transition: all 0.4s;
}
.navbar a:hover,
.navbar a.active{
    color: #e25300 !important;
}
.dropdown-menu{
    border: none;
}
.navbar-toggler:active,
.navbar-toggler:focus{
    border: none;
    box-shadow: none;
}

.login-btn{
    padding: 4px 20px;
    background: #db5101;
    color: #ffffff;
}
.Register-btn{
    border: none;
}
.Register-btn:hover{
    color: #7e3207;
}
.Register-btn:focus,
.Register-btn:active{
    border: none;
}

/* ===========scrollUp============ */
.scrollUp{
    position: fixed;
    top: 90vh;
    right: 10px;
    background: #032992f3;
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
    padding: 2px 4px;
    cursor: pointer;
    border-radius: 10px;
    animation: Radius .5s ease-in-out forwards;
    opacity: 0.1;
    transform: translateY(200px);
    display: none;
    z-index: 99999;
}

@keyframes Radius {
  to{
    opacity: 1;
    scale: 1.1;
    transform: translateY(0px);
  }
}

/* =================modal======================= */

.login-link{
    cursor: pointer !important;
}
input:hover,
input:focus,
input:active{
border:  2px solid #76baf1 !important;
}
.btn-close{
    width: 20px;
    height: 20px;
    color: #fff !important;
    border: 2px solid rgb(0, 0, 0) !important;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.btn-close:focus,
.btn-close:active{
    box-shadow: none;
}
/* =================Header===================== */


.header{
    height: 300px;
    background-image: linear-gradient(rgba(79, 33, 131, 0.747), rgba(26, 8, 129, 0.726)), url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header-text{
    font-size: 12px;
}



/* ==============Job Details=================== */
.job-detail p{
    font-size: 13px;
}
.bg-sky{
    background: #103772;
    color: #fff;
    padding: 4px;
    border-radius: 20px;
}

.bg-light{
    background: #9da9bb;
    color: #000000;
    padding: 4px;
    border-radius: 20px;
}
#req li{
    font-size: 13px !important;
}
.job-details-btn-fill{
    background: #db441e;
    color: white;
    font-size: 13px;
    transition: all 0.5s;
}
.job-details-btn-fill:hover{
    background: #741c06;
    color: white;
}
.job-details-btn{
    font-size: 13px;
    border: 1px solid grey;
    color: #db441e;
    transition: all 0.5s;
}
.job-details-btn:hover{
    border: 1px solid grey;
    background: #db441e;
    color: white;
}
/* ===================right box================ */
.detail-box{
height: 310px;
background: #ffffff;
border-radius: 5px;
    box-shadow: 0 0 4px 4px #e4e0e0;
}
.detail-box h6{
    font-size: 13px;
    font-weight: 090;
}
.share-icon{
    background: none;
    border: none;
    outline: none;
    color: #190280;
}
.share-icon-share{
    color: #c4adad;
}
.job-detail-logo img{
    height: 40px;
    background: white;
    box-shadow: 0 0 4px 4px #e4e0e0;
}
.job-detail-icon button{
    font-size: 13px;
    border: none;
    outline: none;
    background: none;
    padding: 0px;
}

@media screen and (max-width:992px) {
    .detail-box{
        display: none;
    }
}


/* =======================similar jobs============================== */
#similar-job-text{
    font-size: 13px;
}

/* =============================result cards====================================== */
.cards{
    padding: 0px !important;
    position: relative;
    transition: all 0.5s;
    border-radius: 10px;

}
.cards:hover{
    box-shadow: 0 0 8px 8px #e7e0e0;
}
.card-info{
    position: absolute;
    top: 110px;
    left: 20px;
    background: #691cc2;
    color: white;
    font-size: 14px;
    border-radius: 15px;
    padding: 2px 8px;
    transition: all 0.5s;
    cursor: pointer;
}
.card-info:hover,
.card-info-1:hover{
    background-color: #c54d07 !important;
    color: white;
}
.card-info-1{
    left: 100px;
    color: #000000;
    background-color: #cfcbcb
}
.card-logo{
    width: 40px;
    height: 40px;
    box-shadow: 0 0 6px #585353 !important;
    margin-left: 5px;
}
.comapny-name{
    font-size: 15px;
}
.card-text{
    font-size: 15px;
}
.card-icon{
    padding: 4px !important;
    font-size: 14px;
    margin: 2px;
    border: none;
    outline: none;
    background: none;
}
.card-job-text{
    margin: 3px;
    font-size: 13px;
}
hr{
    width: 90%;
    margin: 10px auto;
}
.card-btn{
    background-color: #c54d07;
    font-size: 12px;
    transition: all 0.5s;
}
.card-btn:hover{
    background-color: #055adadc;
}
/* ===============job openings============== */
.Jobs {
    height: 300px;
    background-image: linear-gradient(rgb(255 84 16 / 80%), rgb(225 95 19 / 76%)), url(../img/img.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-job-open{
    font-size: 14px;
}
.btn-job-open:hover,
.btn-job-open:focus{
    background: none !important;
}

/* ===================foooter=================== */

.footer p {
    font-size: 15px;

}
.footer p a:hover{
    color: #868282 !important;
    text-decoration: underline !important;
}
.footer h6 {
    font-weight: 700;
}
.notified{
    position: relative;
}

.send-inp {
    padding-left: 1px;
    text-align: center;
}

.send-inp::placeholder {
    text-align: center;
    font-size: 14px;
}

.send-inp:focus,
.send-inp:active {
    border: none;
    outline: none;
    box-shadow: none;
}

.send-btn {
    position: absolute;
    top: 81px;
    right: 33px;
    background: #6b0ba7;
    color: white;
    font-size: 10px;
}

.send-btn:hover {
    background: #b66fe2;
    color: #fff;
}

#bi-person {
    position: absolute;
   top: 82px;
   left: 40px;
}

#send {
    height: 120px;
    padding: 15px;
    border-radius: 5px;
    background-color: #d3d0f5c7 !important;
}

.footer-main {
    background: #340572;
    color: #ffffff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons a {
    color: #c5bcbc;
    margin-right: 8px;
    font-size: 17px;
}

.social-icons a i {
    transition: all 0.4s;
}

.bi-twitter:hover {
    color: #1596e0;
}

.bi-facebook:hover {
    color: #09249e;
}

.bi-linkedin:hover {
    color: #2d3370;
}

.bi-instagram:hover {
    color: #a70649;
}

.bi-youtube:hover {
    color: #a00000;
}
/* ===================footer end==================== */
